<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Review</title>
</head>
<body>
<article>
    <header>
        <nav class="clear">
            <ul>
                <li><a>Go Back To -></a></li>
                <li><a href="/persInf">Person Page</a></li>
                <li><a href="/profInf">Skills Page</a></li>
            </ul>
        </nav>
        <h1>SkillSwap</h1>
    </header>

    <ul>
        <h1>Leave a Review:</h1>

        <form th:method="POST" th:action="@{/skillExchange/review}" th:object="${review}">
            <input type="hidden" name = "userEvaluated" th:value="${userEvaluatedId}"/>
            <label for="rating">Rating (1-5): </label>
            <input type="number" th:field="*{rating}" id="rating" min="1" max="5"/>
            <div style="color: red" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Rating Error</div>
            <br/>
            <label for="comment">Comment: </label>
            <textarea th:field="*{comment}" id="comment"></textarea>
            <div style="color: red" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">Comment Error</div>
            <br/>
            <input type="submit" value="Submit Review"/>
        </form>
    </ul>

</article>
</body>
</html>