<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        form{
            max-width: 0px;
            background: none;
            padding: 2px;
            margin-left: 0;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
        }
        td{
            width: 80px;
        }
    </style>
</head>
<body>
<article>
    <header>
        <nav class="clear">
            <ul>
                <li><a>Go Back To -></a></li>
                <li><a href="/persInf">Person Page</a></li>
                <li><a href="/profInf">Skills Page</a></li>
            </ul>
        </nav>
        <h1>SkillSwap</h1>
    </header>

    <ul>
        <h1>Great!</h1>
        <div class = "for-list">
            <p>We're very happy that our platform helped you find the needed skill!</p>
        </div>
    </ul>

</article>
</body>
</html>