<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<article>
    <header>
        <nav class="clear">
            <ul>
                <li><a href = "/people">Person page</a></li>
                <li><a href = "/books">Books page</a></li>
            </ul>
        </nav>
        <h1>SkillSwap</h1>
    </header>

    <ul>

        <h1>Admin Page in Progress.....</h1>

    </ul>
</article>
</body>
</html>