<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Skills Page</title>
    <style>
        form{
            max-width: 0px;
            background: none;
            padding: 2px;
            margin-left: 0;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
        }
        td{
            width: 80px;
        }
    </style>
</head>
<body>
<article>
    <header>
        <nav class="clear">
            <ul>
                <li><a href="/persInf">Person Page</a></li>
                <li><a href="/profInf/new">Provide New Skill</a></li>
                <li><a href="/profInf/search">Find Skill</a></li>
                <!--<li><a href="/persInf/search">Find Person</a></li>-->
                <!--<li><a href = "/persInf?sort_by_rating=true">Sort by Rating!</a></li>-->
            </ul>
        </nav>
        <h1>SkillSwap</h1>
    </header>

    <ul>
        <table>
            <tr>
                <td><form th:action="@{/logout}" th:method="POST">
                    <input type = "submit" value = "Logout"/>
                </form></td>
            </tr>
        </table>
    </ul>

    <ul>
        <h1>Choose the needed skill:</h1>
        <div class = "for-list">
            <p th:each="skill : ${profInf}">
                <a th:href="@{/profInf/{id}(id=${skill.getId()})}"
                   th:text="${skill.getSkillName() + ', ' + skill.getCost() + ', ' + skill.getRating()}">skill</a>
            </p>
        </div>
    </ul>

</article>
</body>
</html>