<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Find Skill</title>
</head>
<body>

<article>

    <header>
        <nav class="clear">
            <ul>
                <li><a href = "/persInf">Person page</a></li>
                <li><a href = "/profInf">Skills page</a></li>
            </ul>
        </nav>
        <h1>SkillSwap</h1>
    </header>

    <ul>

        <h1>Search the Skill:</h1>


        <form th:method="POST" th:action="@{/profInf/search}">
            <label for="skillName">Enter search term: </label>
            <input type="text" id="skillName" name="skillName"/>
            <br/>
            <input type="submit" value="Search!"/>
        </form>

        <div th:if="${profInf}">
            <div th:if="${profInf.isEmpty()}">
                <span style="color: red">No skills found</span>
            </div>

            <div class = "for-list">
                <p th:each="skill : ${profInf}">
                    <a th:href="@{/profInf/{id}(id=${skill.getId()})}"
                       th:text="${'Skill name: ' + skill.getSkillName() + ', Cost: ' + skill.getCost() + 'Rub., Rating: ' + skill.getRating()}">skill</a>
                </p>
            </div>
        </div>
    </ul>
</article>


</body>
</html>