<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles_show.css}">
    <meta charset="UTF-8">
    <title>Show Person</title>
</head>
<body>

<article>
    <div class="content-wrapper">
        <header>
            <nav class="clear">
                <ul>
                    <li><a href="/persInf">Person page</a></li>
                    <li><a href="/profInf">Skills page</a></li>
                </ul>
            </nav>
            <h1>SkillSwap</h1>
        </header>
    </div>
    <ul>
        <div class="container">
            <h1 class = "inf">Person information:</h1>

            <p th:text="${'Name: ' + persInf.getName()}">VALUE</p>
            <p th:text="${'Surame: ' + persInf.getSurname()}">VALUE</p>
            <p th:text="${'Year of Birth: ' + persInf.getBirthYear()}">VALUE</p>
            <p th:text="${'Phone Number: ' + persInf.getPhoneNumber()}">VALUE</p>
            <p th:text="${'Email: ' + persInf.getEmail()}">VALUE</p>


            <div th:if="${profInf.isEmpty()}">
                <p style="color: red">The person hasn't any skills yet</p>
                <hr/>
            </div>

            <div th:if="${!profInf.isEmpty()}">
                <b>Provided Skills:</b>
                <hr/>
                <table th:each="skill : ${profInf}">
                    <tr>
                        <td>
                <span th:text="${skill.getSkillName() + ', ' + skill.getCost()}"></span>
                        </td>
                    </tr>
                </table>
                <hr/>
            </div>

            <form th:method="GET" th:action="@{/persInf/{id}/edit(id=${persInf.getId()})}">
                <input class = "input-btn" type="submit" value="Edit"/>
            </form>

        </div>
    </ul>
</article>

</body>
</html>